body {
  background-color: rgb(198, 195, 195);
}

.flex {
  display: flex;
  padding: 5px;
  align-items: center;
}
#primerBloque {
  background-color: rgb(238, 232, 232);
  margin: 1%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 30px;
}
.end {
  justify-content: flex-end;
  width: 50%;

}

.between {
  justify-content: space-between;
}
a {
  padding: 5px;
}
#navBar {
  background-color: rgb(5, 44, 106);
  margin-left: 1%;
  margin-right: 1%;
  margin-top: -1%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
}
.navIz {
  width: 70%;

}
.simbol {
  margin-right: 3%;
}
#navDer{
    width: 50%;

}
.icon{
    padding-left: 3%;
}
